.select {
    position: relative;

    button {
        border: none;
        border-radius: 5px;
        background: #901C1C;
    }

    .dropdown {
        position: absolute;
        top: 0;
        list-style: none;
        border-radius: 5px;
        overflow: hidden;
        background: #901C1C;

        .option {
            position: relative;

            /* &:first-child {
                color: #000;
                background: #DB8876;
            } */

            &:not(:last-child)::after {
                content: "";
                position: absolute;
                bottom: -1px;
                left: 10px;
                right: 10px;
                height: 2px;
                z-index: 2;
                background-color: #e0e0e0;
            }
        }
    }

    .option {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        padding: 20px;
        font-size: 1.25rem;
        font-weight: 700;
        font-family: DM Sans, sans-serif;
        color: #fff;
        transition: all .3s ease;
        cursor: pointer;
    }

    button, .option {
        width: 180px;
        text-align: left;
        z-index: 1;
    }
}