.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 300px;
    padding: 50px;
    background: #FAFAFA;

    .details {
        display: flex;
        flex-direction: column;

        h1 {
            font-size: 4rem;
            color: #D3573C;
        }

        .location {
            margin-bottom: 20px;
            font-size: 1.5rem;
            color: #901C1C;
        }

        .tagline {
            font-size: 1.125rem;
            color: #525252;
        }
    }
}